
header{
    // position: fixed;
    padding: 20px;
}

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
    margin: 10px 0;
    padding: 0;
    width: 120px;
    line-height: 1.2;

}